{% extends 'base.html.twig' %}
{% block body %}

<h1> Testounet</h1>

    <div>{{ mySerie.title }} {{ autreVar }}</div>
<div>

    <div>{{ "now"|date ('Y') }}</div>
    <div>{{ "+2 year"|date ('Y') }}</div>

    {% set name = 'Remy' %}
    <h2> {{ name | upper }}</h2>
    <h2> {{ name | length }}</h2>

    {# Création tableau #}
    {% set colors = ['bleu' ,'blanc', 'rouge'] %}
    <div> Nombre de couleurs : {{ colors | length }}</div>
    <div> {{ colors | join('/') }}</div>

    {% for color in colors %}
        <div> {{ loop.index }}</div>
        <div style="background-color:{{ color }}">{{ color }}</div>
    {% endfor %}

    {# Un objet #}
    {% set book = {
        author : 'J.K Rowling',
        title: 'Harry Potter and the secret room'} %}
    <h3> {{ book.author }}</h3>
    <div>
        {% for key, val in book %}
            <div> {{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block title %} {{ parent() }} | Testounet {% endblock %}